.cards {
  display: flex;
  flex-direction: column;
  /*height except header and search element*/
  height: calc(100vh - 185px);
}

.cards-viewport {
  height: 100%;
}

.custom-scrollbar {
  --scrollbar-border-radius: 7px;
  --scrollbar-padding: 4px;
  --scrollbar-viewport-margin: 0;
  --scrollbar-track-color: rgba(0, 0, 0, 0.25) !important;
  --scrollbar-wrapper-color: transparent !important;
  --scrollbar-thumb-color: rgb(0, 0, 0) !important;
  --scrollbar-thumb-hover-color: rgba(255, 255, 255, 0.1) !important;
  --scrollbar-size: 5px;
  --scrollbar-hover-size: var(--scrollbar-size);
}

app-card {
  max-width: 640px;
  height: 167px;
  align-self: center;
  display: block;
  margin: 0 auto;
}

.not-found {
  max-width: 672px;
  height: 167px;
  align-self: center;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  app-card {
    max-width: 100%;
    height: 128px;
    margin: 16px;
  }
}
