.cards {
  display: flex;
  flex-direction: column;
}

.example-viewport {
  height: 600px;
  border: 1px solid black;
}

app-card {
  width: 672px;
  height: 167px;
  align-self: center;
}

.not-found {
  width: 672px;
  height: 167px;
  align-self: center;
  text-align: center;
}
