<app-header></app-header>
<input type="search" [(ngModel)]="searchDescription" (ngModelChange)="onSearchChange()">
<mat-button-toggle-group class="selected-toggle-group" [(ngModel)]="searchOnlySelected" aria-label="Selected">
  <mat-button-toggle class="selected-toggle-button" [value]="false">All</mat-button-toggle>
  <mat-button-toggle class="selected-toggle-button" [value]="true">Selected</mat-button-toggle>
</mat-button-toggle-group>

<div class="cards">
  <div class="not-found" *ngIf="(data | filter:searchDescription : searchOnlySelected).length < 1; else elseBlock">
    Not Found
  </div>
  <ng-template #elseBlock>
    <cdk-virtual-scroll-viewport [itemSize]="18 * 7" class="example-viewport">
      <app-card *cdkVirtualFor="let d of (data | filter: searchDescription : searchOnlySelected);"
                [id]="d.id"
                [blocksCount]="d.blocksCount"
                [description]="d.description"
                [selected]="d?.selected"
                [title]="d.title"
                (selectionChanges)="d.selected = $event"
      ></app-card>
    </cdk-virtual-scroll-viewport>
  </ng-template>
</div>

