<div class="search-container">
  <mat-form-field appearance="outline" class="search-mat-form-field">
    <mat-icon matIconPrefix>search</mat-icon>
    <input type="text" matInput placeholder="Search by operation or DeFi company name" [(ngModel)]="searchDescription"
           (ngModelChange)="onSearchChange()">
    <mat-icon *ngIf="searchDescription != ''" matIconSuffix (click)="onSearchClear()">clear</mat-icon>
  </mat-form-field>
  <mat-button-toggle-group class="selected-toggle-group" [(ngModel)]="searchOnlySelected"
                           (ngModelChange)="onSearchOnlySelectedChange()" aria-label="Selected">
    <mat-button-toggle class="selected-toggle-button" [value]="false">All</mat-button-toggle>
    <mat-button-toggle class="selected-toggle-button" [value]="true">Selected</mat-button-toggle>
  </mat-button-toggle-group>
</div>
